body{
}
img{
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #6d4604;
}
.containar{
}
.bgcolor{
}

h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
}
.bgcolor1{
	background-color: orange;
}
.bgcolor2{
	background-color: seagreen;
}
.bgcolor3{
	background-color: skyblue;
}body{
}
.containar{
}
.bgcolor{
}
h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
	margin: 0;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
	margin: 0;
	font-size: 30px;
	padding: 20px;
	line-height: 1.5;
	text-align: justify;
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
	border: red;
}
.img{
	
padding: 15px;
	
margin-bottom: 100px;
}body{
}
img{
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #6d4604;
}
.containar{
}
.bgcolor{
}

h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
}
.bgcolor1{
	background-color: orange;
}
.bgcolor2{
	background-color: seagreen;
}
.bgcolor3{
	background-color: skyblue;
}body{
	margin: 0;
}
.containar{
	width: 900px;
	margin: auto;
}
.bgcolor{
	background-color: #f2f2fb;
}
h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
	margin: 0;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
	margin: 0;
	font-size: 35px;
	padding: 20px;
	line-height: 1.5;
	text-align: justify;
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
	border: red;
}
.img{
	
padding: 15px;
	
margin-bottom: 100px;
}body{
}
img{
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #6d4604;
}
.containar{
}
.bgcolor{
}

h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
}
.bgcolor1{
	background-color: orange;
}
.bgcolor2{
	background-color: seagreen;
}
.bgcolor3{
	background-color: skyblue;
}body{
}
.containar{
}
.bgcolor{
}
h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
	margin: 0;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
	margin: 0;
	font-size: 30px;
	padding: 20px;
	line-height: 1.5;
	text-align: justify;
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
	border: red;
}
.img{
	
padding: 15px;
	
margin-bottom: 100px;
}body{
}
img{
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #6d4604;
}
.containar{
}
.bgcolor{
}

h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
}
.bgcolor1{
	background-color: orange;
}
.bgcolor2{
	background-color: seagreen;
}
.bgcolor3{
	background-color: skyblue;
}body{
	margin: 0;
}
.containar{
	width: 900px;
	margin: auto;
}
.bgcolor{
	background-color: #f2f2fb;
}
h1{
	font-size: 55px;
	text-align: center;
	color: #333;
	padding: 15px;
	margin: 0;
}
.color1{
	color: orange;
}
.color2{
	color:seagreen;
}
.color3{
	color: skyblue;
}
.color4{
	color: red;
}
.color5{
	color: purple;
}
p{
	margin: 0;
	font-size: 35px;
	padding: 20px;
	line-height: 1.5;
	text-align: justify;
}
.post{
	height: 400px;
	width: 33.33%;
	float: left;
	border: red;
}
.img{
	
padding: 15px;
	
margin-bottom: 100px;
}